*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-items: center;
}

button{
    border: none;
    outline: none;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    background-color:burlywood;
}

button::before{
    content: "Pasa por encima";
}

button:hover{
    color: whitesmoke;
    background-color: green;
}

button:hover::before{
    content: "¡Hecho!";
}